In [21]:
import pandas as pd

In [37]:
df_covid = pd.read_csv("./input/covid_19_clear.csv")
df_country_info = pd.read_csv("./country_info.csv")

In [38]:
df_covid.head(20)

        Country     Date  Confirmed  Deaths  Recovered
0   Afghanistan  1/22/20          0       0          0
1   Afghanistan  1/23/20          0       0          0
2   Afghanistan  1/24/20          0       0          0
3   Afghanistan  1/25/20          0       0          0
4   Afghanistan  1/26/20          0       0          0
5   Afghanistan  1/27/20          0       0          0
6   Afghanistan  1/28/20          0       0          0
7   Afghanistan  1/29/20          0       0          0
8   Afghanistan  1/30/20          0       0          0
9   Afghanistan  1/31/20          0       0          0
10  Afghanistan   2/1/20          0       0          0
11  Afghanistan  2/10/20          0       0          0
12  Afghanistan  2/11/20          0       0          0
13  Afghanistan  2/12/20          0       0          0
14  Afghanistan  2/13/20          0       0          0
15  Afghanistan  2/14/20          0       0          0
16  Afghanistan  2/15/20          0       0          0
17  Afghanistan  2/16/20          0       0          0
18  Afghanistan  2/17/20          0       0          0
19  Afghanistan  2/18/20          0       0          0

In [39]:
covid_top_50 = df_covid[df_covid["Date"] == '3/18/20'].sort_values(by=['Confirmed', 'Deaths', 'Recovered'], ascending=False).head(55).Country.values

In [40]:
coutries = df_country_info.Country.values

In [41]:
df_country_info

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People,GDP,GDP per capta,Life expectancy,# Flight Passengers
0,Slovakia,568394,542764,680528,860773,843980,714201,687712,380061,122175,540.0588,1.700908e+11,19897.153507,77.219,NaN
1,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,987.6983,4.859173e+11,56935.188270,82.516,NaN
2,Indonesia,47977486,46310084,43068836,41353654,37293402,28325635,16650777,7276648,1791671,27004.8193,3.106463e+12,4130.663276,71.282,1.151541e+08
3,Switzerland,875799,835663,1047321,1211148,1177086,1309842,953874,731996,307204,844.9933,5.051785e+11,76667.444040,83.473,2.885799e+07
4,Singapore,473440,525276,841606,898862,965359,946886,762636,260127,92128,576.6320,5.079963e+11,55235.512886,83.279,4.040152e+07
5,Qatar,268598,230385,719809,819308,462935,238779,74010,14279,2975,283.1078,3.132168e+11,65696.387132,79.981,2.917892e+07
6,Canada,3960088,3974074,5110382,5204909,4797691,5260069,4598419,2876627,1119713,3690.1972,1.633483e+12,51315.888975,82.210,8.938000e+07
7,India,236731829,252674336,238481457,212399683,165881490,125378954,84296275,37500685,9615035,136295.9744,9.317083e+12,1963.546321,69.165,1.640356e+08
8,South Korea,4240885,4886624,6797905,7196849,8330006,8442921,6135717,3444643,1251462,5072.7012,1.898965e+12,26152.030775,82.628,8.815758e+07
9,France,7606630,7857054,7415448,8007883,8408482,8600917,7758713,5456311,2705071,6381.6509,2.649717e+12,42567.743648,82.432,7.018803e+07
10,Philippines,22137588,21224868,19346448,15169948,12087102,9132653,5640281,2495455,653477,10788.7820,8.470839e+11,2891.358890,70.952,4.308012e+07
11,Chile,2450918,2505672,3020205,2878807,2556775,2328585,1737346,950339,364300,1879.2947,4.284072e+11,15059.530141,79.909,1.951718e+07
12,Austria,863022,877100,1124426,1224528,1195561,1402944,1000416,789863,338138,881.5998,4.092673e+11,49129.233665,81.340,1.293550e+07
13,Poland,3812694,3683606,4614458,6098806,5397403,4653080,5155357,2736204,1189580,3734.1188,1.093233e+12,15751.233833,78.338,9.277538e+06
14,Norway,616243,643048,724428,727725,730800,701457,581791,427144,156088,530.8724,3.475001e+11,91218.618427,82.146,NaN
15,Belgium,1305219,1298970,1395385,1498535,1524152,1601891,1347696,908725,444835,1132.5408,4.977980e+11,46078.929087,81.305,1.363949e+07
16,Portugal,856604,1029022,1076533,1253640,1587112,1472388,1282301,997530,453129,1000.8259,2.981647e+11,23116.579333,81.655,1.736796e+07
17,Romania,1939134,2069083,2174981,2621141,3076100,2508724,2559619,1482916,663465,1909.5163,4.778530e+11,10932.327146,75.790,4.908235e+06
18,Saudi Arabia,5937284,4817472,5457856,6886975,6162478,3055997,1307059,476138,122065,3422.3324,1.654690e+12,20796.319460,74.874,3.914166e+07
19,Ecuador,3260635,3116390,2997435,2540942,2046448,1546300,1047152,545637,193245,1729.4184,1.778857e+11,5269.617570,76.584,5.365261e+06
20,Thailand,7548496,8629471,9617196,9351071,11070365,10557509,7301625,3702813,1309467,6908.8013,1.173668e+12,6125.660289,76.683,7.605304e+07
21,Russia,18561902,14795855,16599344,24452747,19983554,19449736,18094236,8266872,4348884,14455.3130,3.763167e+12,11441.003457,72.139,9.932731e+07
22,China,171585833,166513709,192891037,223506345,223201182,214623812,148420591,66894771,18775767,142641.3047,2.253685e+13,7329.089299,76.470,6.114398e+08
23,Malaysia,5098216,5185143,5784427,5525337,3884381,3080289,2069406,965368,260284,3185.2851,8.891394e+11,11521.454464,75.828,6.048177e+07
24,United Arab Emirates,1006422,835037,2150663,3072012,1655625,777310,209301,52385,7764,976.6519,6.415764e+11,41197.168779,77.647,9.553307e+07
25,Estonia,144409,134136,152005,191747,183573,168320,165824,108288,54703,130.3005,4.099415e+10,18977.394398,78.354,3.198100e+04
26,Israel,1654530,1377821,1178880,1117905,1019070,779142,702437,430872,175844,843.6501,2.985758e+11,34134.805606,82.663,7.404373e+06
27,Brazil,29188180,31633075,34181400,34436184,28902917,24026608,16292185,8401090,2870636,20993.2275,2.991791e+12,10888.982385,75.456,1.021100e+08
28,Australia,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
29,Italy,5103576,5740332,6135226,7100743,9225165,9453168,7391126,5935048,3113098,5919.7482,2.165161e+12,34877.829141,83.184,2.763044e+07
30,Greece,910515,1071214,1068916,1384511,1584912,1489576,1243217,940663,526066,1021.9590,2.697011e+11,23027.413453,81.901,1.512593e+07
31,Iraq,10485112,8550850,7013811,5252557,3814033,2191874,1261768,552034,138858,3926.0897,5.946157e+11,5545.937291,70.294,2.075066e+06
32,Spain,4340417,4682339,4652133,6158281,7935505,6944643,5200462,3921750,1865361,4570.0891,1.627414e+12,32405.750814,83.294,8.067210e+07
33,Peru,5489704,5224879,5423768,5068397,4191544,3185093,2171756,1190014,398979,3234.4134,4.092544e+11,6172.693590,76.286,1.775853e+07
34,Iran,14377200,11531256,12885389,16623647,11185873,8029753,5126544,2239919,631647,8263.1228,NaN,6946.856581,76.271,2.560487e+07
35,Slovenia,212011,193037,211211,290227,303945,302099,281171,172426,76093,204.2220,6.766178e+10,25662.414914,81.016,1.094762e+06
36,Germany,7726915,7948424,9421661,10770439,10400203,13574883,10347526,7589596,4185510,8196.5157,3.809392e+12,46747.192471,81.039,1.097962e+08
37,Czech Republic,1119008,1033915,1145980,1510360,1774233,1333127,1344888,987327,295858,1054.4696,3.552755e+11,22779.291899,79.058,5.727200e+06
38,Kuwait,615731,509329,462476,916067,936319,514790,197771,44686,8021,420.5190,2.676166e+11,33545.617629,75.311,6.464847e+06
39,Lebanon,1183784,1159529,1186188,1009919,862619,713217,433181,202860,73072,682.4369,7.949668e+10,7197.630421,78.833,2.981937e+06
40,Pakistan,52774521,44914765,39377474,29843795,20586127,14690100,8500213,4464790,1046450,21619.8235,1.048296e+12,1222.523906,66.947,6.880637e+06
41,Bahrain,215191,177424,318510,464806,244359,137046,61268,16906,4399,163.9909,6.587424e+10,22111.477237,77.032,5.877003e+06
42,Denmark,607866,679998,774991,662575,752091,803945,657184,566946,190139,569.5735,2.807091e+11,61582.166069,80.681,NaN
43,Finland,578800,602758,678649,705213,655323,728975,720693,556209,211327,543.7947,2.320936e+11,47057.619047,81.561,1.336484e+07
44,United Kingdom,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
45,Luxembourg,65213,66256,84625,95914,93536,88767,60144,36676,16337,60.7468,5.882357e+10,107865.273531,81.955,2.099102e+06
46,Iceland,43668,44269,48238,46464,42622,42276,36635,22223,8398,33.4793,1.718567e+10,49910.005521,82.725,7.819741e+06
47,United States,39891845,42398071,46179065,43980069,40288440,42557686,37845098,23009234,9052463,32520.1971,1.822948e+13,53128.539700,78.861,8.890220e+08
48,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,12334.5640,4.971795e+12,48556.927245,84.290,1.263875e+08
49,South Africa,11581615,10240605,10231760,9942466,6845747,4794113,3068429,1430792,316598,5845.2125,7.017158e+11,7524.511184,63.538,2.392175e+07
50,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,483.9110,3.438968e+11,74433.455655,81.872,1.675986e+08
51,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,1684.2778,8.578819e+11,53597.834326,82.004,4.399604e+07
52,Egypt,24622198,17968738,16473942,14922068,10574668,7677870,4957959,2412411,564338,10017.4192,1.084011e+12,2785.370021,71.656,1.234083e+07

In [42]:
for country in covid_top_50:
    if country not in coutries:
        print("Falta pas: {}".format(country))

Falta pas: Cruise Ship
Falta pas: San Marino

In [43]:
df  = pd.merge(df_covid, df_country_info, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))

In [44]:
df

,Country,Date,Confirmed,Deaths,Recovered,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People,GDP,GDP per capta,Life expectancy,# Flight Passengers
0,Australia,1/22/20,0,0,0,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
1,Australia,1/23/20,0,0,0,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
2,Australia,1/24/20,0,0,0,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
3,Australia,1/25/20,0,0,0,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
4,Australia,1/26/20,4,0,0,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,United Kingdom,3/5/20,116,1,8,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
3017,United Kingdom,3/6/20,164,2,8,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
3018,United Kingdom,3/7/20,207,2,18,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
3019,United Kingdom,3/8/20,274,3,18,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
3020,United Kingdom,3/9/20,322,4,18,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08