In [67]:
import pandas as pd
import os
import re

# Dados de piramide de idade de 2019

In [93]:
if os.path.exists("/Users/thrabbit/Documents/corona_virus/input/pop_pyramid.csv"):
    df_pyramid = pd.read_csv("/Users/thrabbit/Documents/corona_virus/input/pop_pyramid.csv")
else:
    df_pyramid = pd.DataFrame(columns=['Country', 'Age 0-9', 'Age 10-19', 'Age 20-29', 'Age 30-39', 'Age 40-49', 'Age 50-59', 'Age 60-69', 'Age 70-79', 'Age >80'])

In [94]:
directory = "/Users/thrabbit/Documents/corona_virus/input/pop_pyramid/"
pattern = "^.*(?=(-2019\.csv))"

for file in os.listdir(directory):
    if file.endswith(".csv"):
        df = pd.read_csv(directory + file)
        df = df.set_index('Age')
        df['Population'] = df['M'] + df['F']
        df = df.transpose()

        country = re.search(pattern, file).group(0)
        
        country_df = pd.DataFrame(data={'Country':country, 
               'Age 0-9':[df.loc['Population']['0-4'] + df.loc['Population']['5-9']], 
               'Age 10-19':[df.loc['Population']['10-14'] + df.loc['Population']['15-19']], 
               'Age 20-29':[df.loc['Population']['20-24'] + df.loc['Population']['25-29']],
               'Age 30-39':[df.loc['Population']['30-34'] + df.loc['Population']['35-39']],
               'Age 40-49':[df.loc['Population']['40-44'] + df.loc['Population']['45-49']], 
               'Age 50-59':[df.loc['Population']['50-54'] + df.loc['Population']['55-59']], 
               'Age 60-69':[df.loc['Population']['60-64'] + df.loc['Population']['65-69']], 
               'Age 70-79':[df.loc['Population']['70-74'] + df.loc['Population']['75-79']], 
               'Age >80':[df.loc['Population']['80-84'] + df.loc['Population']['90-94'] + df.loc['Population']['95-99'] + df.loc['Population']['100+']]})
        
        df_pyramid = df_pyramid.append(country_df, ignore_index=True)

# Calculando a população total

In [95]:
df_pyramid['# People'] = df_pyramid.iloc[:, 1:10].sum(axis=1)/10e3

In [96]:
df_pyramid

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People
0,Slovakia,568394,542764,680528,860773,843980,714201,687712,380061,122175,540.0588
1,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,987.6983
2,Indonesia,47977486,46310084,43068836,41353654,37293402,28325635,16650777,7276648,1791671,27004.8193
3,Switzerland,875799,835663,1047321,1211148,1177086,1309842,953874,731996,307204,844.9933
4,Singapore,473440,525276,841606,898862,965359,946886,762636,260127,92128,576.6320
5,Qatar,268598,230385,719809,819308,462935,238779,74010,14279,2975,283.1078
6,Canada,3960088,3974074,5110382,5204909,4797691,5260069,4598419,2876627,1119713,3690.1972
7,India,236731829,252674336,238481457,212399683,165881490,125378954,84296275,37500685,9615035,136295.9744
8,Republic of Korea,4240885,4886624,6797905,7196849,8330006,8442921,6135717,3444643,1251462,5072.7012
9,France,7606630,7857054,7415448,8007883,8408482,8600917,7758713,5456311,2705071,6381.6509
10,Philippines,22137588,21224868,19346448,15169948,12087102,9132653,5640281,2495455,653477,10788.7820
11,Chile,2450918,2505672,3020205,2878807,2556775,2328585,1737346,950339,364300,1879.2947
12,Austria,863022,877100,1124426,1224528,1195561,1402944,1000416,789863,338138,881.5998
13,Poland,3812694,3683606,4614458,6098806,5397403,4653080,5155357,2736204,1189580,3734.1188
14,Norway,616243,643048,724428,727725,730800,701457,581791,427144,156088,530.8724
15,Belgium,1305219,1298970,1395385,1498535,1524152,1601891,1347696,908725,444835,1132.5408
16,Portugal,856604,1029022,1076533,1253640,1587112,1472388,1282301,997530,453129,1000.8259
17,Romania,1939134,2069083,2174981,2621141,3076100,2508724,2559619,1482916,663465,1909.5163
18,Saudi Arabia,5937284,4817472,5457856,6886975,6162478,3055997,1307059,476138,122065,3422.3324
19,Ecuador,3260635,3116390,2997435,2540942,2046448,1546300,1047152,545637,193245,1729.4184
20,Thailand,7548496,8629471,9617196,9351071,11070365,10557509,7301625,3702813,1309467,6908.8013
21,Russian Federation,18561902,14795855,16599344,24452747,19983554,19449736,18094236,8266872,4348884,14455.3130
22,China,171585833,166513709,192891037,223506345,223201182,214623812,148420591,66894771,18775767,142641.3047
23,Malaysia,5098216,5185143,5784427,5525337,3884381,3080289,2069406,965368,260284,3185.2851
24,United Arab Emirates,1006422,835037,2150663,3072012,1655625,777310,209301,52385,7764,976.6519
25,Estonia,144409,134136,152005,191747,183573,168320,165824,108288,54703,130.3005
26,Israel,1654530,1377821,1178880,1117905,1019070,779142,702437,430872,175844,843.6501
27,Brazil,29188180,31633075,34181400,34436184,28902917,24026608,16292185,8401090,2870636,20993.2275
28,Australia,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410
29,Italy,5103576,5740332,6135226,7100743,9225165,9453168,7391126,5935048,3113098,5919.7482
30,Greece,910515,1071214,1068916,1384511,1584912,1489576,1243217,940663,526066,1021.9590
31,Iraq,10485112,8550850,7013811,5252557,3814033,2191874,1261768,552034,138858,3926.0897
32,Spain,4340417,4682339,4652133,6158281,7935505,6944643,5200462,3921750,1865361,4570.0891
33,Peru,5489704,5224879,5423768,5068397,4191544,3185093,2171756,1190014,398979,3234.4134
34,Iran,14377200,11531256,12885389,16623647,11185873,8029753,5126544,2239919,631647,8263.1228
35,Slovenia,212011,193037,211211,290227,303945,302099,281171,172426,76093,204.2220
36,Germany,7726915,7948424,9421661,10770439,10400203,13574883,10347526,7589596,4185510,8196.5157
37,Czech Republic,1119008,1033915,1145980,1510360,1774233,1333127,1344888,987327,295858,1054.4696
38,Kuwait,615731,509329,462476,916067,936319,514790,197771,44686,8021,420.5190
39,Lebanon,1183784,1159529,1186188,1009919,862619,713217,433181,202860,73072,682.4369
40,Pakistan,52774521,44914765,39377474,29843795,20586127,14690100,8500213,4464790,1046450,21619.8235
41,Bahrain,215191,177424,318510,464806,244359,137046,61268,16906,4399,163.9909
42,Denmark,607866,679998,774991,662575,752091,803945,657184,566946,190139,569.5735
43,Finland,578800,602758,678649,705213,655323,728975,720693,556209,211327,543.7947
44,United Kingdom,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726
45,Luxembourg,65213,66256,84625,95914,93536,88767,60144,36676,16337,60.7468
46,Iceland,43668,44269,48238,46464,42622,42276,36635,22223,8398,33.4793
47,United States of America,39891845,42398071,46179065,43980069,40288440,42557686,37845098,23009234,9052463,32520.1971
48,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,12334.5640
49,South Africa,11581615,10240605,10231760,9942466,6845747,4794113,3068429,1430792,316598,5845.2125
50,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,483.9110
51,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,1684.2778
52,Egypt,24622198,17968738,16473942,14922068,10574668,7677870,4957959,2412411,564338,10017.4192

# PIB

In [97]:
 df_pib = pd.read_csv('./input/API_NY.GDP.MKTP.PP.KD_DS2_en_csv_v2_870423mudado.csv', usecols=["Country Name", "2018"])

In [98]:
df_pib.rename(columns={'Country Name': 'Country', '2018':'GDP'}, inplace=True)

In [99]:
df_pib

          Country           GDP
0           Aruba           NaN
1     Afghanistan  6.448380e+10
2          Angola  1.763960e+11
3         Albania  3.530249e+10
4         Andorra           NaN
..            ...           ...
259        Kosovo  1.858156e+10
260   Yemen, Rep.  6.511866e+10
261  South Africa  7.017158e+11
262        Zambia  6.503415e+10
263      Zimbabwe  3.881796e+10

[264 rows x 2 columns]

# PIB per capita

In [100]:
 df_pib_per_capta = pd.read_csv('./input/gdp-per-capita-in-us-dollar-world-bank.csv')

In [101]:
df_pib_per_capta = df_pib_per_capta[df_pib_per_capta['Year'] == 2017]

In [102]:
df_pib_per_capta = df_pib_per_capta.reset_index(drop=True)

In [103]:
df_pib_per_capta.rename(columns={'Entity': 'Country', 'GDP per capita (constant 2010 US$) (constant 2010 US$)': 'GDP per capta'}, inplace=True)

In [104]:
df_pib_per_capta = df_pib_per_capta.filter(items=['Country', 'GDP per capta'])

In [105]:
df_pib_per_capta

         Country  GDP per capta
0    Afghanistan     618.332790
1        Albania    4868.197347
2        Algeria    4825.178585
3        Andorra   43942.938187
4         Angola    3484.599515
..           ...            ...
227      Vanuatu    2939.520707
228      Vietnam    1834.651595
229        World   10633.997003
230       Zambia    1646.143835
231     Zimbabwe     927.398658

[232 rows x 2 columns]

# Espectativa de vida

In [106]:
 df_life_expectance = pd.read_csv('./input/life-expectancy.csv')

In [107]:
df_life_expectance = df_life_expectance[df_life_expectance['Year'] == 2017]

In [108]:
df_life_expectance = df_life_expectance.reset_index(drop=True)

In [109]:
df_life_expectance.rename(columns={'Entity':'Country', 'Life expectancy (years)':'Life expectancy'}, inplace=True)

In [110]:
df_life_expectance = df_life_expectance.filter(items=['Country', 'Life expectancy'])

In [111]:
df_life_expectance

            Country  Life expectancy
0       Afghanistan           64.130
1            Africa           62.472
2           Albania           78.333
3           Algeria           76.499
4    American Samoa           73.636
..              ...              ...
238  Western Sahara           69.762
239           World           72.169
240           Yemen           66.086
241          Zambia           63.043
242        Zimbabwe           60.812

[243 rows x 2 columns]

# Trafego Aereo Absoluto/ped Capita

In [112]:
 df_flights = pd.read_csv('./input/API_IS.AIR.PSGR_DS2_en_csv_v2_867000.csv', usecols=["Country Name", "2018"])

In [113]:
df_flights.rename(columns={'Country Name':'Country', '2018':'# Flight Passengers'}, inplace=True)

In [114]:
df_flights

          Country  # Flight Passengers
0           Aruba         2.742800e+05
1     Afghanistan         1.722613e+06
2          Angola         1.516628e+06
3         Albania         3.031370e+05
4         Andorra                  NaN
..            ...                  ...
259        Kosovo                  NaN
260   Yemen, Rep.         3.363100e+05
261  South Africa         2.392175e+07
262        Zambia         8.904000e+03
263      Zimbabwe         2.825390e+05

[264 rows x 2 columns]

# Padronizando nomes em todos os DataFrames

In [115]:
df_pyramid["Country"].replace({'United States of America': 'United States'}, inplace=True)
df_pyramid["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_pyramid["Country"].replace({'Republic of Korea': 'South Korea'}, inplace=True)

In [116]:
countries = df_pyramid.Country.values

In [117]:
for country in countries:
    if country not in df_pib.Country.values:
        print("PIB não possui: {}".format(country))
    if country not in df_pib_per_capta.Country.values:
        print("PIB per capta não possui: {}".format(country))
    if country not in df_life_expectance.Country.values:
        print("Life expactance não possui: {}".format(country))
    if country not in df_flights.Country.values:
        print("Flights não possui: {}".format(country))

PIB não possui: Slovakia
Flights não possui: Slovakia
PIB não possui: South Korea
Flights não possui: South Korea
PIB não possui: Russia
Flights não possui: Russia
PIB não possui: Iran
Flights não possui: Iran
PIB não possui: Egypt
Flights não possui: Egypt

In [118]:
df_pib["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_pib["Country"].replace({'Iran, Islamic Rep.': 'Iran'}, inplace=True)
df_pib["Country"].replace({'Egypt, Arab Rep.': 'Egypt'}, inplace=True)
df_pib["Country"].replace({'Korea, Rep.': 'South Korea'}, inplace=True)
df_pib["Country"].replace({'Slovak Republic': 'Slovakia'}, inplace=True)



df_flights["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_flights["Country"].replace({'Iran, Islamic Rep.': 'Iran'}, inplace=True)
df_flights["Country"].replace({'Egypt, Arab Rep.': 'Egypt'}, inplace=True)
df_flights["Country"].replace({'Korea, Rep.': 'South Korea'}, inplace=True)
df_flights["Country"].replace({'Slovak Republic': 'Slovakia'}, inplace=True)

# Combinando Dados

In [59]:
dfs = [df_pyramid, df_pib, df_pib_per_capta, df_life_expectance, df_flights]
result_1 = pd.concat(dfs, join='inner', axis=1)

In [60]:
result_1

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People,Country,GDP,Country,GDP per capta,Country,Life expectancy,Country,# Flight Passengers
0,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,987.6983,Aruba,NaN,Afghanistan,618.332790,Afghanistan,64.130000,Aruba,2.742800e+05
1,Indonesia,47977486,46310084,43068836,41353654,37293402,28325635,16650777,7276648,1791671,27004.8193,Afghanistan,6.448380e+10,Albania,4868.197347,Africa,62.472000,Afghanistan,1.722613e+06
2,Switzerland,875799,835663,1047321,1211148,1177086,1309842,953874,731996,307204,844.9933,Angola,1.763960e+11,Algeria,4825.178585,Albania,78.333000,Angola,1.516628e+06
3,Singapore,473440,525276,841606,898862,965359,946886,762636,260127,92128,576.6320,Albania,3.530249e+10,Andorra,43942.938187,Algeria,76.499000,Albania,3.031370e+05
4,Qatar,268598,230385,719809,819308,462935,238779,74010,14279,2975,283.1078,Andorra,NaN,Angola,3484.599515,American Samoa,73.636000,Andorra,NaN
5,Canada,3960088,3974074,5110382,5204909,4797691,5260069,4598419,2876627,1119713,3690.1972,Arab World,6.544702e+12,Antigua and Barbuda,13618.359701,Americas,76.629931,Arab World,2.282752e+08
6,India,236731829,252674336,238481457,212399683,165881490,125378954,84296275,37500685,9615035,136295.9744,United Arab Emirates,6.415764e+11,Arab World,6399.678600,Andorra,83.443000,United Arab Emirates,9.553307e+07
7,France,7606630,7857054,7415448,8007883,8408482,8600917,7758713,5456311,2705071,6381.6509,Argentina,8.137263e+11,Argentina,10398.092465,Angola,60.379000,Argentina,1.808194e+07
8,Philippines,22137588,21224868,19346448,15169948,12087102,9132653,5640281,2495455,653477,10788.7820,Armenia,2.709064e+10,Armenia,4219.368549,Anguilla,81.568000,Armenia,NaN
9,Chile,2450918,2505672,3020205,2878807,2556775,2328585,1737346,950339,364300,1879.2947,American Samoa,NaN,Australia,55925.931817,Antigua and Barbuda,76.752000,American Samoa,NaN
10,Austria,863022,877100,1124426,1224528,1195561,1402944,1000416,789863,338138,881.5998,Antigua and Barbuda,2.295529e+09,Austria,49129.233665,Argentina,76.372000,Antigua and Barbuda,5.801742e+05
11,Poland,3812694,3683606,4614458,6098806,5397403,4653080,5155357,2736204,1189580,3734.1188,Australia,1.134098e+12,Azerbaijan,5805.134535,Armenia,74.797000,Australia,7.566765e+07
12,Norway,616243,643048,724428,727725,730800,701457,581791,427144,156088,530.8724,Austria,4.092673e+11,Bahamas,26538.945633,Aruba,76.010000,Austria,1.293550e+07
13,Belgium,1305219,1298970,1395385,1498535,1524152,1601891,1347696,908725,444835,1132.5408,Azerbaijan,1.591866e+11,Bahrain,22111.477237,Asia,73.150000,Azerbaijan,2.279546e+06
14,Portugal,856604,1029022,1076533,1253640,1587112,1472388,1282301,997530,453129,1000.8259,Burundi,7.379441e+09,Bangladesh,1093.049274,Australia,83.122000,Burundi,NaN
15,Romania,1939134,2069083,2174981,2621141,3076100,2508724,2559619,1482916,663465,1909.5163,Belgium,4.977980e+11,Barbados,16503.478358,Austria,81.340000,Belgium,1.363949e+07
16,Saudi Arabia,5937284,4817472,5457856,6886975,6162478,3055997,1307059,476138,122065,3422.3324,Benin,2.471058e+10,Belarus,6375.817290,Azerbaijan,72.693000,Benin,NaN
17,Thailand,7548496,8629471,9617196,9351071,11070365,10557509,7301625,3702813,1309467,6908.8013,Burkina Faso,3.478709e+10,Belgium,46078.929087,Bahamas,73.554000,Burkina Faso,1.515310e+05
18,Russia,18561902,14795855,16599344,24452747,19983554,19449736,18094236,8266872,4348884,14455.3130,Bangladesh,6.259261e+11,Belize,4315.224989,Bahrain,77.032000,Bangladesh,5.984155e+06
19,China,171585833,166513709,192891037,223506345,223201182,214623812,148420591,66894771,18775767,142641.3047,Bulgaria,1.357131e+11,Benin,859.952686,Bangladesh,72.052000,Bulgaria,1.022645e+06
20,Malaysia,5098216,5185143,5784427,5525337,3884381,3080289,2069406,965368,260284,3185.2851,Bahrain,6.587424e+10,Bhutan,2955.811114,Barbados,78.981000,Bahrain,5.877003e+06
21,United Arab Emirates,1006422,835037,2150663,3072012,1655625,777310,209301,52385,7764,976.6519,"Bahamas, The",1.098002e+10,Bolivia,2522.793920,Belarus,74.340000,"Bahamas, The",1.197116e+06
22,Estonia,144409,134136,152005,191747,183573,168320,165824,108288,54703,130.3005,Bosnia and Herzegovina,4.225325e+10,Bosnia and Herzegovina,5561.287951,Belgium,81.305000,Bosnia and Herzegovina,NaN
23,Israel,1654530,1377821,1178880,1117905,1019070,779142,702437,430872,175844,843.6501,Belarus,1.682884e+11,Botswana,7523.216320,Belize,74.365000,Belarus,2.760168e+06
24,Brazil,29188180,31633075,34181400,34436184,28902917,24026608,16292185,8401090,2870636,20993.2275,Belize,2.939554e+09,Brazil,10888.982385,Benin,61.174000,Belize,1.297533e+06
25,Australia,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,Bermuda,NaN,Brunei,31439.923721,Bermuda,82.316000,Bermuda,NaN
26,Italy,5103576,5740332,6135226,7100743,9225165,9453168,7391126,5935048,3113098,5919.7482,Bolivia,7.931358e+10,Bulgaria,8311.930899,Bhutan,71.129000,Bolivia,4.122113e+06
27,Greece,910515,1071214,1068916,1384511,1584912,1489576,1243217,940663,526066,1021.9590,Brazil,2.991791e+12,Burkina Faso,688.533891,Bolivia,70.945000,Brazil,1.021100e+08
28,Iraq,10485112,8550850,7013811,5252557,3814033,2191874,1261768,552034,138858,3926.0897,Barbados,4.719119e+09,Burundi,212.547422,Bonaire Sint Eustatius and Saba,77.420000,Barbados,NaN
29,Spain,4340417,4682339,4652133,6158281,7935505,6944643,5200462,3921750,1865361,4570.0891,Brunei Darussalam,3.080045e+10,Cambodia,1135.151902,Bosnia and Herzegovina,77.128000,Brunei Darussalam,1.234455e+06
30,Iran,14377200,11531256,12885389,16623647,11185873,8029753,5126544,2239919,631647,8263.1228,Bhutan,6.946229e+09,Cameroon,1503.534595,Botswana,68.812000,Bhutan,2.758490e+05
31,Slovenia,212011,193037,211211,290227,303945,302099,281171,172426,76093,204.2220,Botswana,3.723418e+10,Canada,51315.888975,Brazil,75.456000,Botswana,2.534170e+05
32,Germany,7726915,7948424,9421661,10770439,10400203,13574883,10347526,7589596,4185510,8196.5157,Central African Republic,3.560638e+09,Cape Verde,3536.956871,British Virgin Islands,78.742000,Central African Republic,NaN
33,Czech Republic,1119008,1033915,1145980,1510360,1774233,1333127,1344888,987327,295858,1054.4696,Canada,1.633483e+12,Caribbean small states,8955.868882,Brunei,75.585000,Canada,8.938000e+07
34,Kuwait,615731,509329,462476,916067,936319,514790,197771,44686,8021,420.5190,Central Europe and the Baltics,2.853141e+12,Central African Republic,335.026086,Bulgaria,74.815000,Central Europe and the Baltics,5.946758e+07
35,Lebanon,1183784,1159529,1186188,1009919,862619,713217,433181,202860,73072,682.4369,Switzerland,5.051785e+11,Central Europe and the Baltics,15498.627762,Burkina Faso,60.768000,Switzerland,2.885799e+07
36,Bahrain,215191,177424,318510,464806,244359,137046,61268,16906,4399,163.9909,Channel Islands,NaN,Chad,823.434892,Burundi,60.898000,Channel Islands,NaN
37,Denmark,607866,679998,774991,662575,752091,803945,657184,566946,190139,569.5735,Chile,4.284072e+11,Chile,15059.530141,Cambodia,69.289000,Chile,1.951718e+07
38,Finland,578800,602758,678649,705213,655323,728975,720693,556209,211327,543.7947,China,2.253685e+13,China,7329.089299,Cameroon,58.511000,China,6.114398e+08
39,United Kingdom,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,Cote d'Ivoire,9.358463e+10,Colombia,7600.759144,Canada,82.210000,Cote d'Ivoire,7.794820e+05
40,Iceland,43668,44269,48238,46464,42622,42276,36635,22223,8398,33.4793,Cameroon,8.469102e+10,Comoros,769.929766,Cape Verde,72.570000,Cameroon,2.651360e+05
41,United States,39891845,42398071,46179065,43980069,40288440,42557686,37845098,23009234,9052463,32520.1971,"Congo, Dem. Rep.",6.953593e+10,Congo,2576.396117,Cayman Islands,83.633000,"Congo, Dem. Rep.",9.320434e+05
42,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,12334.5640,"Congo, Rep.",2.634811e+10,Costa Rica,9791.995681,Central African Republic,52.240000,"Congo, Rep.",3.338990e+05
43,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,483.9110,Colombia,6.613864e+11,Cote d'Ivoire,1632.677493,Chad,53.712000,Colombia,3.370404e+07
44,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,1684.2778,Comoros,2.151650e+09,Croatia,15219.882785,Channel Islands,82.766000,Comoros,NaN
45,Egypt,24622198,17968738,16473942,14922068,10574668,7677870,4957959,2412411,564338,10017.4192,Cabo Verde,3.596566e+09,Cyprus,29432.665733,Chile,79.909000,Cabo Verde,1.404290e+05

In [64]:
df_final = pd.merge(df_pyramid, df_pib, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_pib_per_capta, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_life_expectance, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_flights, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))

In [65]:
df_final

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People,GDP,GDP per capta,Life expectancy,# Flight Passengers
0,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,987.6983,4.859173e+11,56935.188270,82.516,NaN
1,Indonesia,47977486,46310084,43068836,41353654,37293402,28325635,16650777,7276648,1791671,27004.8193,3.106463e+12,4130.663276,71.282,1.151541e+08
2,Switzerland,875799,835663,1047321,1211148,1177086,1309842,953874,731996,307204,844.9933,5.051785e+11,76667.444040,83.473,2.885799e+07
3,Singapore,473440,525276,841606,898862,965359,946886,762636,260127,92128,576.6320,5.079963e+11,55235.512886,83.279,4.040152e+07
4,Qatar,268598,230385,719809,819308,462935,238779,74010,14279,2975,283.1078,3.132168e+11,65696.387132,79.981,2.917892e+07
5,Canada,3960088,3974074,5110382,5204909,4797691,5260069,4598419,2876627,1119713,3690.1972,1.633483e+12,51315.888975,82.210,8.938000e+07
6,India,236731829,252674336,238481457,212399683,165881490,125378954,84296275,37500685,9615035,136295.9744,9.317083e+12,1963.546321,69.165,1.640356e+08
7,France,7606630,7857054,7415448,8007883,8408482,8600917,7758713,5456311,2705071,6381.6509,2.649717e+12,42567.743648,82.432,7.018803e+07
8,Philippines,22137588,21224868,19346448,15169948,12087102,9132653,5640281,2495455,653477,10788.7820,8.470839e+11,2891.358890,70.952,4.308012e+07
9,Chile,2450918,2505672,3020205,2878807,2556775,2328585,1737346,950339,364300,1879.2947,4.284072e+11,15059.530141,79.909,1.951718e+07
10,Austria,863022,877100,1124426,1224528,1195561,1402944,1000416,789863,338138,881.5998,4.092673e+11,49129.233665,81.340,1.293550e+07
11,Poland,3812694,3683606,4614458,6098806,5397403,4653080,5155357,2736204,1189580,3734.1188,1.093233e+12,15751.233833,78.338,9.277538e+06
12,Norway,616243,643048,724428,727725,730800,701457,581791,427144,156088,530.8724,3.475001e+11,91218.618427,82.146,NaN
13,Belgium,1305219,1298970,1395385,1498535,1524152,1601891,1347696,908725,444835,1132.5408,4.977980e+11,46078.929087,81.305,1.363949e+07
14,Portugal,856604,1029022,1076533,1253640,1587112,1472388,1282301,997530,453129,1000.8259,2.981647e+11,23116.579333,81.655,1.736796e+07
15,Romania,1939134,2069083,2174981,2621141,3076100,2508724,2559619,1482916,663465,1909.5163,4.778530e+11,10932.327146,75.790,4.908235e+06
16,Saudi Arabia,5937284,4817472,5457856,6886975,6162478,3055997,1307059,476138,122065,3422.3324,1.654690e+12,20796.319460,74.874,3.914166e+07
17,Thailand,7548496,8629471,9617196,9351071,11070365,10557509,7301625,3702813,1309467,6908.8013,1.173668e+12,6125.660289,76.683,7.605304e+07
18,Russia,18561902,14795855,16599344,24452747,19983554,19449736,18094236,8266872,4348884,14455.3130,3.763167e+12,11441.003457,72.139,9.932731e+07
19,China,171585833,166513709,192891037,223506345,223201182,214623812,148420591,66894771,18775767,142641.3047,2.253685e+13,7329.089299,76.470,6.114398e+08
20,Malaysia,5098216,5185143,5784427,5525337,3884381,3080289,2069406,965368,260284,3185.2851,8.891394e+11,11521.454464,75.828,6.048177e+07
21,United Arab Emirates,1006422,835037,2150663,3072012,1655625,777310,209301,52385,7764,976.6519,6.415764e+11,41197.168779,77.647,9.553307e+07
22,Estonia,144409,134136,152005,191747,183573,168320,165824,108288,54703,130.3005,4.099415e+10,18977.394398,78.354,3.198100e+04
23,Israel,1654530,1377821,1178880,1117905,1019070,779142,702437,430872,175844,843.6501,2.985758e+11,34134.805606,82.663,7.404373e+06
24,Brazil,29188180,31633075,34181400,34436184,28902917,24026608,16292185,8401090,2870636,20993.2275,2.991791e+12,10888.982385,75.456,1.021100e+08
25,Australia,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,2488.2410,1.134098e+12,55925.931817,83.122,7.566765e+07
26,Italy,5103576,5740332,6135226,7100743,9225165,9453168,7391126,5935048,3113098,5919.7482,2.165161e+12,34877.829141,83.184,2.763044e+07
27,Greece,910515,1071214,1068916,1384511,1584912,1489576,1243217,940663,526066,1021.9590,2.697011e+11,23027.413453,81.901,1.512593e+07
28,Iraq,10485112,8550850,7013811,5252557,3814033,2191874,1261768,552034,138858,3926.0897,5.946157e+11,5545.937291,70.294,2.075066e+06
29,Spain,4340417,4682339,4652133,6158281,7935505,6944643,5200462,3921750,1865361,4570.0891,1.627414e+12,32405.750814,83.294,8.067210e+07
30,Iran,14377200,11531256,12885389,16623647,11185873,8029753,5126544,2239919,631647,8263.1228,NaN,6946.856581,76.271,2.560487e+07
31,Slovenia,212011,193037,211211,290227,303945,302099,281171,172426,76093,204.2220,6.766178e+10,25662.414914,81.016,1.094762e+06
32,Germany,7726915,7948424,9421661,10770439,10400203,13574883,10347526,7589596,4185510,8196.5157,3.809392e+12,46747.192471,81.039,1.097962e+08
33,Czech Republic,1119008,1033915,1145980,1510360,1774233,1333127,1344888,987327,295858,1054.4696,3.552755e+11,22779.291899,79.058,5.727200e+06
34,Kuwait,615731,509329,462476,916067,936319,514790,197771,44686,8021,420.5190,2.676166e+11,33545.617629,75.311,6.464847e+06
35,Lebanon,1183784,1159529,1186188,1009919,862619,713217,433181,202860,73072,682.4369,7.949668e+10,7197.630421,78.833,2.981937e+06
36,Bahrain,215191,177424,318510,464806,244359,137046,61268,16906,4399,163.9909,6.587424e+10,22111.477237,77.032,5.877003e+06
37,Denmark,607866,679998,774991,662575,752091,803945,657184,566946,190139,569.5735,2.807091e+11,61582.166069,80.681,NaN
38,Finland,578800,602758,678649,705213,655323,728975,720693,556209,211327,543.7947,2.320936e+11,47057.619047,81.561,1.336484e+07
39,United Kingdom,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,6646.6726,2.694283e+12,42514.487450,81.168,1.653886e+08
40,Iceland,43668,44269,48238,46464,42622,42276,36635,22223,8398,33.4793,1.718567e+10,49910.005521,82.725,7.819741e+06
41,United States,39891845,42398071,46179065,43980069,40288440,42557686,37845098,23009234,9052463,32520.1971,1.822948e+13,53128.539700,78.861,8.890220e+08
42,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,12334.5640,4.971795e+12,48556.927245,84.290,1.263875e+08
43,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,483.9110,3.438968e+11,74433.455655,81.872,1.675986e+08
44,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,1684.2778,8.578819e+11,53597.834326,82.004,4.399604e+07
45,Egypt,24622198,17968738,16473942,14922068,10574668,7677870,4957959,2412411,564338,10017.4192,1.084011e+12,2785.370021,71.656,1.234083e+07

In [125]:
df_final.to_csv("country_info.csv", index=False)